<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%= title %></title>
    <link rel="icon" href="<%= pathTo("favicon.ico") %>" /> <link href="<%=
    pathTo("app.css") %>" rel="stylesheet">
  </head>
  <body>
    <h1><a href="/">Fahrenheit 52</a></h1>
    <%- body %>
    <footer>
      <span>© 2022 Charlie Harrington</span>
      <span>&nbsp;•&nbsp;</span>
      <a href="/rss.xml" class="footer-link">RSS Feed</a>
    </footer>
  </body>
</html>
